@import '../_variables'

@media screen and ( max-width: $layout-breakpoint-small)

.description__card
    position: absolute
    top: 10%
    display: none
    flex-direction: column
    justify-content: center
    width: 80%
    height: 85%
    border: 1px solid #000
    border-radius: 15px
    background: $main-white
    z-index: 3

.card__wrap
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    height: 100%

.card__wrap
    img
        position: absolute
        top: 0px
        display: flex
        width: 100%
        height: 45%
        border-radius: 15px 15px 0 0
        filter: brightness(80%)
        box-shadow: 0px 1px 2px #000

.desc__card__title
    position: absolute
    top: 30%
    display: flex
    flex-direction: column
    justify-content: flex-start
    width: 90%
    height: 60px

.card__text
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-evenly
    width: auto
    max-width: 60%
    height: auto

.card__title__text
    width: 100%
    height: 15px
    padding: 0
    margin: 0 0 15px 0
    font-size: clamp(1rem, 1rem + 0.5vw, 2rem)
    color: $main-white

.desc__card_subtitle
    width: 100%
    height: 15px
    padding: 0
    margin: 0
    font-size: clamp(1rem, 1rem + 0.5vw, 1.5rem)
    color: $main-white

.desc__card__price
    position: absolute
    right: 5px
    top: 5px
    display: flex
    justify-content: center
    align-items: center
    width: 70px
    height: 28px
    background: $main-red
    border-radius: 4px
    color: $main-white

.product__description
    position: absolute
    bottom: 28%
    left: 5%
    display: flex
    justify-content: flex-start
    align-items: flex-start
    width: 90%
    height: 100px
    padding: 0
    margin: 0

.product__description-text
    padding: 0
    margin: 0
    font-size: clamp(0.8rem, 0.8rem + 0.5vw, 1rem)
    text-align: center

.card__btns
    position: absolute
    display: flex
    justify-content: space-around
    bottom: 5%
    left: 20%
    width: 60%
    height: 40px

.add__btn
    width: 96px
    height: 37px
    border: 0
    border-radius: 4px
    background: $main-green
    color: $main-white
    font-size: 0.7em
    font-weight: bold
    cursor: pointer

.add__btn__remove
    width: 96px
    height: 37px
    border: 0
    border: 1px solid $main-green
    border-radius: 4px
    background: transparent
    color: $main-green
    font-size: 0.7em
    font-weight: bold
    cursor: pointer

.close__btn
    display: flex
    justify-content: center
    align-items: center
    width: 35px
    height: 35px
    border: 0
    border-radius: 100%
    background: $main-red
    color: $main-white
    cursor: pointer

@media screen and (min-width: $layout-breakpoint-large)
