@import '../_variables'

@media screen and ( max-width: $layout-breakpoint-small)    
    .mainhero
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 100%
        height: 100vh
        background-image: url(src/assets/mountain.webp)
        background-size: cover
        background-repeat: no-repeat
        background-position: -250px

    .mainhero__wrap
        position: relative
        z-index: 2

    
    .mainhero__wrap
        h1
            text-align: center
            font-size: 2.3em
            color: #ffffff


@media screen and (min-width: 1024px)

    .mainhero
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 100%
        height: 100vh
        background-image: url(src/assets/mountain.webp)
        background-size: cover
        background-repeat: no-repeat
        background-attachment: fixed    

    .main-hero__wrap
        position: relative
        z-index: 2

    .mainhero__wrap
        h1
            text-align: center
            font-size: 2.3em
            color: #ffffff
