@media screen and (max-width: 640px) {
  .features {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 150px;
  }
  .features__image {
    position: relative;
    top: 50px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    max-width: 100%;
    height: 200px;
    z-index: -1;
  }
  .features__image img {
    width: 250px;
    height: 250px;
    max-height: 100%;
    filter: drop-shadow(3px 2px 5px #000);
  }
  .features__wrap {
    position: relative;
    top: 90px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 80%;
    height: auto;
    max-height: 100%;
  }
  .feature__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    height: 230px;
    border-radius: 10px;
    z-index: 1;
  }
  .feature__card h2 {
    position: relative;
    left: 20px;
    width: 200px;
    font-size: 1.5em;
    text-align: left;
    color: #9999A1;
  }
  .feature__card h2::after {
    display: block;
    position: relative;
    top: 10px;
    content: "";
    width: 50px;
    height: 2px;
    background: red;
  }
  .feature__card p {
    position: relative;
    top: 5px;
    left: 20px;
    width: 80%;
    height: auto;
    padding: 5px 5px 5px 0;
  }
  .features__button {
    position: relative;
    top: 10px;
    left: 20px;
    border: none;
    width: 100px;
    height: 40px;
    padding: 10px;
    background: red;
    color: white;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
  }
  .features__button::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100px;
    height: 40px;
    background: #EB0013;
    z-index: -1;
    transform: scaleX(0);
    transition: transform 0.5s ease-out;
  }
  .features__button:hover::after {
    transform: scaleX(1);
  }
  .features__button svg {
    position: relative;
    top: 3px;
    left: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .features {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .features__image {
    position: absolute;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    z-index: -1;
  }
  .features__image img {
    width: 350px;
    height: 450px;
    filter: drop-shadow(3px 2px 5px #000);
  }
  .features__wrap {
    position: relative;
    left: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 100%;
  }
  .feature__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    height: 230px;
    border-radius: 10px;
    z-index: 1;
  }
  .feature__card h2 {
    position: relative;
    left: 20px;
    width: 200px;
    font-size: 1.5em;
    text-align: left;
    color: #9999A1;
  }
  .feature__card h2::after {
    display: block;
    position: relative;
    top: 10px;
    content: "";
    width: 50px;
    height: 2px;
    background: red;
  }
  .feature__card p {
    position: relative;
    top: 5px;
    left: 20px;
    width: 80%;
    height: auto;
    padding: 5px 5px 5px 0;
  }
  .features__btn {
    position: absolute;
    bottom: 0;
    left: 20px;
    border: none;
    width: 100px;
    height: 40px;
    padding: 10px;
    background: red;
    color: white;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
  }
  .features__btn::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100px;
    height: 40px;
    background: #EB0013;
    z-index: -1;
    transform: scaleX(0);
    transition: transform 0.5s ease-out;
  }
  .features__btn:hover::after {
    transform: scaleX(1);
  }
  .features__btn a {
    text-decoration: none;
    color: #FBFBFB;
  }
  .features__btn svg {
    position: relative;
    top: 3px;
    left: 10px;
  }
}/*# sourceMappingURL=features.css.map */